name: ci

on:
  push:
    branches:
      - master
  schedule:
    - cron: '30 12,23 * * *'

jobs:
  autogreen:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Auto green
        run: |
          git config --local user.email "zeemenng@gmail.com"
          git config --local user.name "Zee"
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git pull --rebase
          git commit --allow-empty -m "自动点绿"
          git push
